name: publish

on:
    release:
        types: [published]

jobs:
    build:
        name: publish
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js
              uses: actions/setup-node@v2.5.1
              with:
                  node-version: 15
            - name: Install dependencies
              run: npm install
            - uses: JS-DevTools/npm-publish@v1
              with:
                  token: ${{ secrets.NPM_TOKEN }}
